h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 48px;
}
p {
  font-family: Tahoma, Geneva, sans-serif;
}
body#background {
  background: url('Candolim_Beach_Goa.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
