h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 48px;
}
p {
  font-family: Tahoma, Geneva, sans-serif;
}
html { 
  background: url(Candolim_Beach_Goa.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
